<div id="root">
  <div data-cy="screen-Profile" style="flex: 1 1 0%; font-size: 5vw;">
    <div>
      <div style="height: 21vw;">
        <div style="display: flex; width: 100vw; font-size: 2vw; justify-content: space-evenly; position: fixed; background-color: black;">
          <div style="color: rgb(186, 186, 186); font-size: 8vw; padding: 5vw 0vw; cursor: pointer;">Albums</div>
          <div style="color: rgb(186, 186, 186); font-size: 8vw; padding: 5vw 0vw; cursor: pointer;">Contacts</div>
        </div>
      </div>
      <div style="background-color: black; background-image: url(&quot;static/media/headerBg.png&quot;); background-repeat: no-repeat; background-position: 0px 6%; background-size: 100vw; background-attachment: fixed;">
        <div style="background-color: rgba(0, 0, 0, 0.8); max-width: 1000px; min-height: 80vh; margin: 0px auto; padding: 2vw;">
          <div style="display: flex; align-items: center; flex-direction: column; font-size: 5vw;">
            <div style="display: flex; margin-bottom: 2.5vw;">
              <div style="color: rgb(186, 186, 186); width: 35vw; text-align: right; margin-right: 1vw; line-height: 8vw;">Email :</div>
              <div style="color: rgb(186, 186, 186); width: 65vw; line-height: 8vw;">
                <div style="margin-bottom: 2.5vw; color: rgb(186, 186, 186);">email1@familystory.page</div>
                <div style="cursor: pointer; text-align: center; background-color: white; color: black; padding: 3vw; font-size: 6vw; border-radius: 3vw; width: 50vw; margin-bottom: 2.5vw; line-height: 5vw;">Se déconnecter</div>
              </div>
            </div>
            <div style="display: flex; margin-bottom: 2.5vw;">
              <div style="color: rgb(186, 186, 186); width: 35vw; text-align: right; margin-right: 1vw; line-height: 8vw;">Pseudo :</div>
              <div style="color: rgb(186, 186, 186); width: 65vw; line-height: 8vw;"><input type="text" inputmode="email" value="Odile" style="text-align: center; color: rgb(186, 186, 186); font-size: 5vw; background-color: transparent; padding: 1vw; width: 53vw; border-color: white; margin-bottom: 2.5vw;">
                <div style="display: block;">
                  <div style="cursor: pointer; text-align: center; background-color: white; color: black; padding: 3vw; font-size: 6vw; border-radius: 3vw; width: 40vw; margin-bottom: 2.5vw;">Enregistrer</div>
                  <div style="cursor: pointer; text-align: center; background-color: white; color: black; padding: 3vw; font-size: 6vw; border-radius: 3vw; width: 40vw; margin-bottom: 2.5vw;">Annuler</div>
                </div>
              </div>
            </div>
            <div style="display: flex; margin-bottom: 2.5vw;">
              <div style="color: rgb(186, 186, 186); width: 35vw; text-align: right; margin-right: 1vw; line-height: 8vw;">Mot de passe :</div>
              <div style="color: rgb(186, 186, 186); width: 65vw; line-height: 8vw;">
                <div style="color: rgb(186, 186, 186); margin-bottom: 2.5vw;">Un email avec des instructions de réinitialisation vous a été envoyé.</div>
                <div style="cursor: pointer; text-align: center; background-color: white; color: black; padding: 3vw; font-size: 6vw; border-radius: 3vw; width: 50vw; margin-bottom: 2.5vw; line-height: 5vw;">Réinitialiser</div>
              </div>
            </div>
            <div style="display: flex; margin-bottom: 2.5vw;">
              <div style="color: rgb(186, 186, 186); width: 35vw; text-align: right; margin-right: 1vw; line-height: 8vw;">Avatar :</div>
              <div style="color: rgb(186, 186, 186); width: 65vw; line-height: 8vw;">
                <div style="width: 50vw; display: flex; justify-content: center;"><img data-cy="avatarImg" src="data:image/jpeg;base64,/9j/" style="width: 30vw; margin-bottom: 2.5vw; border-radius: 50%; cursor: pointer;"></div><input data-cy="avatarInput" type="file" required="" style="display: none;">
                <div data-cy="avatarEdit" style="cursor: pointer; text-align: center; background-color: white; color: black; padding: 3vw; font-size: 6vw; border-radius: 3vw; width: 50vw; margin-bottom: 2.5vw; line-height: 5vw;">Modifier</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>