<div id="root">
  <div data-cy="screen-Profile" style="flex: 1 1 0%; font-size: 1.5vw;">
    <div>
      <div>
        <div style="display: flex; width: 100vw; font-size: 2vw; justify-content: center; padding: 0.8vw 0vw;">
          <div style="color: rgb(186, 186, 186); font-size: 2.2vw; cursor: pointer;">Albums</div>
          <div style="padding: 0px 1vw;">-</div>
          <div style="color: rgb(186, 186, 186); font-size: 2.2vw; cursor: pointer;">Contacts</div>
          <div style="padding: 0px 1vw;">-</div>
          <div style="color: white; font-size: 2.2vw; font-weight: bold;">Profile</div>
          <div><img src="data:image/png;base64,iVBO" style="position: absolute; width: 5vw; left: 1vw; top: 1vw;"><img data-cy="avatarImg" src="static/media/avatar4.jpg" style="position: absolute; width: 5vw; right: 1vw; top: 1vw; cursor: pointer; border-radius: 50%;"></div>
        </div>
      </div>
      <div style="background-color: black; background-image: url(&quot;static/media/headerBg.png&quot;); background-repeat: no-repeat; background-position: 0px 6%; background-size: 100vw; background-attachment: fixed;">
        <div style="background-color: rgba(0, 0, 0, 0.8); max-width: 1000px; min-height: 80vh; margin: 0px auto; padding: 2vw;">
          <div style="display: flex; align-items: center; flex-direction: column; font-size: 1.5vw;">
            <div style="display: flex; margin-bottom: 1vw;">
              <div style="color: rgb(186, 186, 186); width: 20vw; text-align: right; margin-right: 1vw; line-height: 2.1vw;">Email :</div>
              <div style="color: rgb(186, 186, 186); width: 30vw; line-height: 2.1vw;">
                <div style="margin-bottom: 1vw; color: rgb(186, 186, 186);">email1@familystory.page</div>
                <div style="cursor: pointer; text-align: center; background-color: white; color: black; padding: 0.3vw; border-radius: 1vw; font-size: 1.5vw;">Se déconnecter</div>
              </div>
            </div>
            <div style="display: flex; margin-bottom: 1vw;">
              <div style="color: rgb(186, 186, 186); width: 20vw; text-align: right; margin-right: 1vw; line-height: 2.1vw;">Pseudo :</div>
              <div style="color: rgb(186, 186, 186); width: 30vw; line-height: 2.1vw;"><input type="text" inputmode="email" value="Odile" style="text-align: center; color: rgb(186, 186, 186); font-size: 1.2vw; width: 20vw; border-color: white; margin-bottom: 1vw;">
                <div style="display: flex;">
                  <div style="cursor: pointer; text-align: center; background-color: white; color: black; padding: 0.3vw; border-radius: 1vw; font-size: 1.5vw; margin-right: 1vw;">Enregistrer</div>
                  <div style="cursor: pointer; text-align: center; background-color: white; color: black; padding: 0.3vw; border-radius: 1vw; font-size: 1.5vw; margin-right: 1vw;">Annuler</div>
                </div>
              </div>
            </div>
            <div style="display: flex; margin-bottom: 1vw;">
              <div style="color: rgb(186, 186, 186); width: 20vw; text-align: right; margin-right: 1vw; line-height: 2.1vw;">Mot de passe :</div>
              <div style="color: rgb(186, 186, 186); width: 30vw; line-height: 2.1vw;">
                <div style="color: rgb(186, 186, 186); margin-bottom: 1vw;">Un email avec des instructions de réinitialisation vous a été envoyé.</div>
                <div style="cursor: pointer; text-align: center; background-color: white; color: black; padding: 0.3vw; border-radius: 1vw; font-size: 1.5vw;">Réinitialiser</div>
              </div>
            </div>
            <div style="display: flex; margin-bottom: 1vw;">
              <div style="color: rgb(186, 186, 186); width: 20vw; text-align: right; margin-right: 1vw; line-height: 2.1vw;">Avatar :</div>
              <div style="color: rgb(186, 186, 186); width: 30vw; line-height: 2.1vw;">
                <div style="width: 20vw; display: flex; justify-content: center;"><img data-cy="avatarImg" src="data:image/jpeg;base64,/9j/" style="width: 5vw; margin-bottom: 1vw; border-radius: 50%; cursor: pointer;"></div><input data-cy="avatarInput" type="file" required="" style="display: none;">
                <div data-cy="avatarEdit" style="cursor: pointer; text-align: center; background-color: white; color: black; padding: 0.3vw; border-radius: 1vw; font-size: 1.5vw;">Modifier</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>