<div id="root">
  <div data-cy="screen-SplashScreen" style="flex: 1 1 0%; font-size: 5vw;">
    <div style="height: 100vh; width: 100vw; display: flex; flex-direction: column; justify-content: center; align-items: center; background-color: white;"><img src="static/media/splash.gif" style="width: 50vw;"></div>
  </div>
</div>