<div id="root">
  <div data-cy="screen-Auth" style="flex: 1 1 0%; font-size: 1.5vw;">
    <div style="display: flex; flex-direction: column; align-items: center;"><img src="static/media/headerBg.png" style="width: 100vw; position: absolute;">
      <div style="display: flex; flex-direction: column; z-index: 1; width: 75vw; min-height: 54vw; align-items: center; background-color: rgba(255, 255, 255, 0.6);"><img src="static/media/title.png" style="width: 65vw; margin-top: 5vw;">
        <div style="color: rgb(51, 51, 51); font-size: 3vw; text-align: center;">Partagez simplement des photos avec vos proches</div>
        <div style="margin-top: 12vw; width: 30vw; display: flex; align-items: center; flex-direction: column; margin-bottom: 1vw;"><input type="text" placeholder="email@example.com" inputmode="email" value="example1@familystories.page" style="text-align: center; border-style: solid; border-color: gray; color: rgb(51, 51, 51); width: 100%; box-sizing: border-box; padding: 1vw; border-width: 1px; border-radius: 5vw; font-size: 1.8vw; margin-bottom: 1vw;"><input placeholder="Mot de passe" value="family" style="text-align: center; border-style: solid; border-color: gray; color: rgb(51, 51, 51); width: 100%; box-sizing: border-box; padding: 1vw; border-width: 1px; border-radius: 5vw; font-size: 1.8vw; display: block; margin-bottom: 1vw;">
          <div style="margin-bottom: 2vw; font-size: 1.5vw; color: rgb(0, 0, 162); text-decoration: underline; text-align: center;">Mot de passe oublié</div>
          <div style="cursor: pointer; text-align: center; border-style: solid; border-color: black; width: 100%; box-sizing: border-box; padding: 1vw; font-size: 2vw; border-radius: 1vw; border-width: 0.87);">Se Connecter</div>
        </div>
        <div style="width: 30vw; display: flex; align-items: center; flex-direction: column;">
          <div style="cursor: pointer; text-align: center; border-style: solid; border-color: black; width: 100%; box-sizing: border-box; padding: 1vw; font-size: 2vw; border-radius: 1vw; border-width: 0.667);">Connexion avec Gmail</div>
        </div>
      </div>
    </div>
  </div>
</div>