<div id="root">
  <div data-cy="screen-Auth" style="flex: 1 1 0%; font-size: 5vw;">
    <div style="display: flex; flex-direction: column; align-items: center;"><img src="static/media/headerBg.png" style="width: 100vw;">
      <div style="display: flex; flex-direction: column; z-index: 1; width: 100vw; align-items: center;"><img src="static/media/title.png" style="position: absolute; top: 0px; width: 95vw; margin-top: 5vw;">
        <div style="font-size: 5vw; text-align: center; width: 90vw;">Partagez simplement des photos avec vos proches</div>
        <div style="margin-top: 5vw; width: 95vw;"><input type="text" placeholder="email@example.com" inputmode="email" value="example1@familystories.page" style="text-align: center; border-style: solid; border-color: white; color: rgb(51, 51, 51); width: 100%; box-sizing: border-box; padding: 3vw; font-size: 6vw; border-radius: 3vw; border-width: 0.2vw; margin-bottom: 5vw;"><input placeholder="Mot de passe" value="family" style="text-align: center; border-style: solid; border-color: white; color: rgb(51, 51, 51); width: 100%; box-sizing: border-box; padding: 3vw; font-size: 6vw; border-radius: 3vw; border-width: 0.2vw; display: block; margin-bottom: 5vw;">
          <div style="margin-bottom: 5vw; font-size: 4.5vw; color: rgb(119, 119, 167); text-decoration: underline; text-align: center;">Mot de passe oublié</div>
          <div style="cursor: pointer; text-align: center; border-style: solid; border-color: black; width: 100%; box-sizing: border-box; padding: 3vw; font-size: 6vw; border-radius: 3vw; border-width: 0.87);">Se Connecter</div>
        </div>
        <div style="margin-top: 5vw; width: 95vw;">
          <div style="cursor: pointer; text-align: center; border-style: solid; border-color: black; width: 100%; box-sizing: border-box; padding: 3vw; font-size: 6vw; border-radius: 3vw; border-width: 0.667);">Connexion avec Gmail</div>
        </div>
      </div>
    </div>
  </div>
</div>