<div id="root">
  <div data-cy="screen-OneAlbum" style="flex: 1 1 0%; font-size: 5vw;">
    <div>
      <div style="height: 21vw;">
        <div style="display: flex; width: 100vw; font-size: 2vw; justify-content: space-evenly; position: fixed; background-color: black;">
          <div style="color: rgb(186, 186, 186); font-size: 8vw; padding: 5vw 0vw; cursor: pointer;">Connexion</div>
        </div>
      </div>
      <div style="background-color: black; background-image: url(&quot;static/media/headerBg.png&quot;); background-repeat: no-repeat; background-position: 0px 6%; background-size: 100vw; background-attachment: fixed;">
        <div style="background-color: rgba(0, 0, 0, 0.8); max-width: 1000px; min-height: 80vh; margin: 0px auto; padding: 2vw;">
          <div>
            <div style="margin-bottom: 2vw;">
              <div style="display: flex; flex-direction: column; justify-content: center; align-items: center; margin-bottom: 2vw;"><img data-cy="avatarImg" src="data:image/jpeg;base64,/9j/" style="width: 15vw; border-radius: 50%; cursor: pointer;">Noha</div>
              <div data-cy="titleEdit" style="display: flex; justify-content: center; font-size: 7vw; align-items: center; cursor: pointer;">Vacances à la plage</div>
            </div>
            <div style="display: flex; flex-direction: column; justify-content: center; align-items: center;">
              <div style="display: flex; justify-content: center; align-items: center; margin-bottom: 2vw; font-size: 5vw; width: 96vw; flex-wrap: wrap;">
                <div>Créé il y a 40 minutes</div>
                <div class="underlineHover" style="display: flex; justify-content: center; align-items: center; cursor: pointer;"><span>&nbsp;-&nbsp;</span>5 photos</div>
                <div><span>&nbsp;-&nbsp;</span>15 vues</div>
                <div data-cy="showAlbumCommentToggle"><span>&nbsp;-&nbsp;</span>2 commentaires<img src="data:image/png;base64,iVBO" style="vertical-align: middle; width: 5vw; margin-left: 1vw;"></div>
              </div>
              <div>
                <div style="margin-bottom: 2vw; display: flex; flex-direction: column; justify-content: center; align-items: center;">
                  <div style="cursor: pointer; text-align: center; background-color: white; color: black; padding: 3vw; font-size: 6vw; border-radius: 3vw; width: 75vw; margin: 2vw 1vw;">Diaporama</div><input data-cy="addPhotoInput" type="file" required="" multiple="" style="display: none;">
                </div>
                <div style="display: flex; justify-content: center; align-items: center;"></div>
              </div>
              <div style="background-color: rgba(255, 255, 255, 0.1vw; margin: 3vw 0px;"></div>
              <div style="width: 98vw;">
                <div style="display: flex; flex-direction: column;">
                  <div style="display: flex; margin-bottom: 2vw;"><img data-cy="avatarImg" src="data:image/jpeg;base64,/9j/" style="width: 15vw; height: 15vw; margin-right: 2vw; border-radius: 50%; cursor: pointer;">
                    <div style="display: flex; flex-direction: column;">
                      <div style="color: white; font-size: 5vw;">Noha il y a 24 minutes</div>
                      <div style="color: rgb(186, 186, 186);">Qui se trouve sur la photo ?</div>
                    </div>
                  </div>
                  <div style="display: flex; margin-bottom: 2vw;"><img data-cy="avatarImg" src="static/media/avatar4.jpg" style="width: 15vw; height: 15vw; margin-right: 2vw; border-radius: 50%; cursor: pointer;">
                    <div style="display: flex; flex-direction: column;">
                      <div style="color: white; font-size: 5vw;">Noha il y a 51 minutes</div>
                      <div style="color: rgb(186, 186, 186);">Qui se trouve sur la photo ?</div>
                    </div>
                  </div>
                </div><textarea data-cy="albumTextarea" placeholder="Commentez l'album ici.." style="width: 98vw; font-size: 5vw; height: 20vw; padding: 0.867);">Vacance avec toute la famille.</textarea>
                <div>
                  <div style="font-size: 5vw; font-style: italic; margin-bottom: 2vw;">Pour commenter l'album vous devez vous connecter.</div>
                  <div style="cursor: pointer; text-align: center; background-color: white; color: black; padding: 3vw; font-size: 6vw; border-radius: 3vw; width: 50vw; margin-bottom: 2.5vw;">Se connecter</div>
                </div>
              </div>
              <div style="background-color: rgba(255, 255, 255, 0.1vw; margin: 3vw 0px;"></div>
            </div>
          </div>
          <div style="display: flex; flex-direction: column;">
            <div>
              <div style="display: flex; flex-direction: column; align-items: center;"><img src="static/media/christmas.jpg" style="height: 28vw; width: 38vw; margin-right: 2vw; object-fit: contain; background-color: black; cursor: pointer;">
                <div style="display: flex; flex-direction: column; width: 100%;">
                  <div style="display: flex;">
                    <div style="display: flex; margin-bottom: 2vw;">Noël en famille</div>
                  </div>
                  <div style="font-size: 5vw; color: rgb(186, 186, 186); display: flex; margin-bottom: 2vw; flex-direction: column;">Créé il y a 12 minutes<div data-cy="showPhotoCommentToggle" class="underlineHover" style="display: flex; cursor: pointer;">0 commentaire&nbsp;<img src="data:image/png;base64,iVBO" style="width: 5vw;"></div>
                  </div>
                  <div style="background-color: rgba(255, 255, 255, 0.1vw; margin: 3vw 0px;"></div>
                  <div style="width: 98vw;">
                    <div style="font-style: italic; margin-bottom: 2vw; color: rgb(186, 186, 186); font-size: 5vw;">Il n'y a aucun commentaire pour l'instant</div><textarea data-cy="photoTextarea" placeholder="Commentez la photo ici.." style="width: 98vw; font-size: 5vw; height: 20vw; padding: 0.867);">Vacance avec toute la famille.</textarea>
                    <div>
                      <div style="font-size: 5vw; font-style: italic; margin-bottom: 2vw;">Pour commenter la photo vous devez vous connecter.</div>
                      <div style="cursor: pointer; text-align: center; background-color: white; color: black; padding: 3vw; font-size: 6vw; border-radius: 3vw; width: 50vw; margin-bottom: 2.5vw;">Se connecter</div>
                    </div>
                  </div>
                </div>
              </div>
              <div style="background-color: rgba(255, 255, 255, 0.1vw; margin: 3vw 0px;"></div>
            </div>
            <div>
              <div style="display: flex; flex-direction: column; align-items: center;"><img src="static/media/married.png" style="height: 28vw; width: 38vw; margin-right: 2vw; object-fit: contain; background-color: black; cursor: pointer;">
                <div style="display: flex; flex-direction: column; width: 100%;">
                  <div style="display: flex;">
                    <div style="display: flex; margin-bottom: 2vw;">Tous a la plage</div>
                  </div>
                  <div style="font-size: 5vw; color: rgb(186, 186, 186); display: flex; margin-bottom: 2vw; flex-direction: column;">Créé il y a 46 minutes<div data-cy="showPhotoCommentToggle" class="underlineHover" style="display: flex; cursor: pointer;">2 commentaires&nbsp;<img src="data:image/png;base64,iVBO" style="width: 5vw;"></div>
                  </div>
                  <div style="cursor: pointer; text-align: center; background-color: white; color: black; padding: 3vw; font-size: 6vw; border-radius: 3vw; width: 50vw; margin-bottom: 2.5vw;">Couverture</div>
                  <div style="background-color: rgba(255, 255, 255, 0.1vw; margin: 3vw 0px;"></div>
                  <div style="width: 98vw;">
                    <div style="display: flex; flex-direction: column;">
                      <div style="display: flex; margin-bottom: 2vw;"><img data-cy="avatarImg" src="static/media/avatar4.jpg" style="width: 15vw; height: 15vw; margin-right: 2vw; border-radius: 50%; cursor: pointer;">
                        <div style="display: flex; flex-direction: column;">
                          <div style="color: white; font-size: 5vw;">Noha il y a 45 minutes</div>
                          <div style="color: rgb(186, 186, 186);">Je me souviens de cette belle journée :)</div>
                        </div>
                      </div>
                      <div style="display: flex; margin-bottom: 2vw;"><img data-cy="avatarImg" src="data:image/jpeg;base64,/9j/" style="width: 15vw; height: 15vw; margin-right: 2vw; border-radius: 50%; cursor: pointer;">
                        <div style="display: flex; flex-direction: column;">
                          <div style="color: white; font-size: 5vw;">Noha il y a 4 minutes</div>
                          <div style="color: rgb(186, 186, 186);">Je me souviens de cette belle journée :)</div>
                        </div>
                      </div>
                    </div><textarea data-cy="photoTextarea" placeholder="Commentez la photo ici.." style="width: 98vw; font-size: 5vw; height: 20vw; padding: 0.867);">Vacance avec toute la famille.</textarea>
                    <div>
                      <div style="font-size: 5vw; font-style: italic; margin-bottom: 2vw;">Pour commenter la photo vous devez vous connecter.</div>
                      <div style="cursor: pointer; text-align: center; background-color: white; color: black; padding: 3vw; font-size: 6vw; border-radius: 3vw; width: 50vw; margin-bottom: 2.5vw;">Se connecter</div>
                    </div>
                  </div>
                </div>
              </div>
              <div style="background-color: rgba(255, 255, 255, 0.1vw; margin: 3vw 0px;"></div>
            </div>
            <div>
              <div style="display: flex; flex-direction: column; align-items: center;"><img src="static/media/married.png" style="height: 28vw; width: 38vw; margin-right: 2vw; object-fit: contain; background-color: black; cursor: pointer;">
                <div style="display: flex; flex-direction: column; width: 100%;">
                  <div style="display: flex;">
                    <div style="display: flex; margin-bottom: 2vw;">Tous a la plage</div>
                  </div>
                  <div style="font-size: 5vw; color: rgb(186, 186, 186); display: flex; margin-bottom: 2vw; flex-direction: column;">Créé il y a 14 minutes<div data-cy="showPhotoCommentToggle" class="underlineHover" style="display: flex; cursor: pointer;">0 commentaire&nbsp;<img src="data:image/png;base64,iVBO" style="width: 5vw;"></div>
                  </div>
                  <div style="cursor: pointer; text-align: center; background-color: white; color: black; padding: 3vw; font-size: 6vw; border-radius: 3vw; width: 50vw; margin-bottom: 2.5vw;">Couverture</div>
                  <div style="background-color: rgba(255, 255, 255, 0.1vw; margin: 3vw 0px;"></div>
                  <div style="width: 98vw;">
                    <div style="font-style: italic; margin-bottom: 2vw; color: rgb(186, 186, 186); font-size: 5vw;">Il n'y a aucun commentaire pour l'instant</div><textarea data-cy="photoTextarea" placeholder="Commentez la photo ici.." style="width: 98vw; font-size: 5vw; height: 20vw; padding: 0.867);">Vacance avec toute la famille.</textarea>
                    <div>
                      <div style="font-size: 5vw; font-style: italic; margin-bottom: 2vw;">Pour commenter la photo vous devez vous connecter.</div>
                      <div style="cursor: pointer; text-align: center; background-color: white; color: black; padding: 3vw; font-size: 6vw; border-radius: 3vw; width: 50vw; margin-bottom: 2.5vw;">Se connecter</div>
                    </div>
                  </div>
                </div>
              </div>
              <div style="background-color: rgba(255, 255, 255, 0.1vw; margin: 3vw 0px;"></div>
            </div>
            <div>
              <div style="display: flex; flex-direction: column; align-items: center;"><img src="static/media/christmas.jpg" style="height: 28vw; width: 38vw; margin-right: 2vw; object-fit: contain; background-color: black; cursor: pointer;">
                <div style="display: flex; flex-direction: column; width: 100%;">
                  <div style="display: flex;">
                    <div style="display: flex; margin-bottom: 2vw;">Les mariés</div>
                  </div>
                  <div style="font-size: 5vw; color: rgb(186, 186, 186); display: flex; margin-bottom: 2vw; flex-direction: column;">Créé il y a 40 minutes<div data-cy="showPhotoCommentToggle" class="underlineHover" style="display: flex; cursor: pointer;">1 commentaire&nbsp;<img src="data:image/png;base64,iVBO" style="width: 5vw;"></div>
                  </div>
                  <div style="cursor: pointer; text-align: center; background-color: white; color: black; padding: 3vw; font-size: 6vw; border-radius: 3vw; width: 50vw; margin-bottom: 2.5vw;">Couverture</div>
                  <div style="background-color: rgba(255, 255, 255, 0.1vw; margin: 3vw 0px;"></div>
                  <div style="width: 98vw;">
                    <div style="display: flex; flex-direction: column;">
                      <div style="display: flex; margin-bottom: 2vw;"><img data-cy="avatarImg" src="data:image/jpeg;base64,/9j/" style="width: 15vw; height: 15vw; margin-right: 2vw; border-radius: 50%; cursor: pointer;">
                        <div style="display: flex; flex-direction: column;">
                          <div style="color: white; font-size: 5vw;">Odile il y a 12 minutes</div>
                          <div style="color: rgb(186, 186, 186);">Qui se trouve sur la photo ?</div>
                        </div>
                      </div>
                    </div><textarea data-cy="photoTextarea" placeholder="Commentez la photo ici.." style="width: 98vw; font-size: 5vw; height: 20vw; padding: 0.867);">Vacance avec toute la famille.</textarea>
                    <div>
                      <div style="font-size: 5vw; font-style: italic; margin-bottom: 2vw;">Pour commenter la photo vous devez vous connecter.</div>
                      <div style="cursor: pointer; text-align: center; background-color: white; color: black; padding: 3vw; font-size: 6vw; border-radius: 3vw; width: 50vw; margin-bottom: 2.5vw;">Se connecter</div>
                    </div>
                  </div>
                </div>
              </div>
              <div style="background-color: rgba(255, 255, 255, 0.1vw; margin: 3vw 0px;"></div>
            </div>
            <div>
              <div style="display: flex; flex-direction: column; align-items: center;"><img src="static/media/beach.jpg" style="height: 28vw; width: 38vw; margin-right: 2vw; object-fit: contain; background-color: black; cursor: pointer;">
                <div style="display: flex; flex-direction: column; width: 100%;">
                  <div style="display: flex;">
                    <div style="display: flex; margin-bottom: 2vw;">Noël en famille</div>
                  </div>
                  <div style="font-size: 5vw; color: rgb(186, 186, 186); display: flex; margin-bottom: 2vw; flex-direction: column;">Créé il y a 59 minutes<div data-cy="showPhotoCommentToggle" class="underlineHover" style="display: flex; cursor: pointer;">2 commentaires&nbsp;<img src="data:image/png;base64,iVBO" style="width: 5vw;"></div>
                  </div>
                  <div style="cursor: pointer; text-align: center; background-color: white; color: black; padding: 3vw; font-size: 6vw; border-radius: 3vw; width: 50vw; margin-bottom: 2.5vw;">Couverture</div>
                  <div style="background-color: rgba(255, 255, 255, 0.1vw; margin: 3vw 0px;"></div>
                  <div style="width: 98vw;">
                    <div style="display: flex; flex-direction: column;">
                      <div style="display: flex; margin-bottom: 2vw;"><img data-cy="avatarImg" src="static/media/avatar4.jpg" style="width: 15vw; height: 15vw; margin-right: 2vw; border-radius: 50%; cursor: pointer;">
                        <div style="display: flex; flex-direction: column;">
                          <div style="color: white; font-size: 5vw;">Noha il y a 34 minutes</div>
                          <div style="color: rgb(186, 186, 186);">Je me souviens de cette belle journée :)</div>
                        </div>
                      </div>
                      <div style="display: flex; margin-bottom: 2vw;"><img data-cy="avatarImg" src="data:image/jpeg;base64,/9j/" style="width: 15vw; height: 15vw; margin-right: 2vw; border-radius: 50%; cursor: pointer;">
                        <div style="display: flex; flex-direction: column;">
                          <div style="color: white; font-size: 5vw;">Julie il y a 56 minutes</div>
                          <div style="color: rgb(186, 186, 186);">Photo prise le 5 juillet 2021 avec toute la famille !</div>
                        </div>
                      </div>
                    </div><textarea data-cy="photoTextarea" placeholder="Commentez la photo ici.." style="width: 98vw; font-size: 5vw; height: 20vw; padding: 0.867);">Vacance avec toute la famille.</textarea>
                    <div>
                      <div style="font-size: 5vw; font-style: italic; margin-bottom: 2vw;">Pour commenter la photo vous devez vous connecter.</div>
                      <div style="cursor: pointer; text-align: center; background-color: white; color: black; padding: 3vw; font-size: 6vw; border-radius: 3vw; width: 50vw; margin-bottom: 2.5vw;">Se connecter</div>
                    </div>
                  </div>
                </div>
              </div>
              <div style="background-color: rgba(255, 255, 255, 0.1vw; margin: 3vw 0px;"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>