<div id="root">
  <div data-cy="screen-OneAlbum" style="flex: 1 1 0%; font-size: 5vw;">
    <div>
      <div style="height: 21vw;">
        <div style="display: flex; width: 100vw; font-size: 2vw; justify-content: space-evenly; position: fixed; background-color: black;">
          <div style="color: rgb(186, 186, 186); font-size: 8vw; padding: 5vw 0vw; cursor: pointer;">Albums</div>
          <div style="color: rgb(186, 186, 186); font-size: 8vw; padding: 5vw 0vw; cursor: pointer;">Contacts</div>
          <div style="color: rgb(186, 186, 186); font-size: 8vw; padding: 5vw 0vw; cursor: pointer;">Profile</div>
        </div>
      </div>
      <div style="background-color: black; background-image: url(&quot;static/media/headerBg.png&quot;); background-repeat: no-repeat; background-position: 0px 6%; background-size: 100vw; background-attachment: fixed;">
        <div style="background-color: rgba(0, 0, 0, 0.8); max-width: 1000px; min-height: 80vh; margin: 0px auto; padding: 2vw;">
          <div>
            <div style="margin-bottom: 2vw;">
              <div style="display: flex; flex-direction: column; align-items: center;"><input type="text" placeholder="Votre titre de l'album" inputmode="email" value="Vacances à la plage" style="text-align: center; color: rgb(186, 186, 186); font-size: 5vw; background-color: transparent; padding: 1vw; width: 90vw; border-color: white; margin-bottom: 2vw;">
                <div style="display: flex; justify-content: center; margin-bottom: 2vw; flex-direction: column;">
                  <div style="cursor: pointer; text-align: center; background-color: white; color: black; padding: 3vw; font-size: 6vw; border-radius: 3vw; width: 50vw; margin-bottom: 2.5vw; margin-right: 1vw;">Sauvegarder</div>
                  <div style="cursor: pointer; text-align: center; background-color: white; color: black; padding: 3vw; font-size: 6vw; border-radius: 3vw; width: 50vw; margin-bottom: 2.5vw; margin-left: 1vw;">Annuler</div>
                </div>
              </div>
            </div>
            <div style="display: flex; flex-direction: column; justify-content: center; align-items: center;">
              <div style="display: flex; justify-content: center; align-items: center; margin-bottom: 2vw; font-size: 5vw; width: 96vw; flex-wrap: wrap;">
                <div>Créé il y a 14 minutes</div>
                <div class="underlineHover" style="display: flex; justify-content: center; align-items: center; cursor: pointer;"><span>&nbsp;-&nbsp;</span>0 photo</div>
                <div><span>&nbsp;-&nbsp;</span>12 vues</div>
                <div data-cy="showAlbumCommentToggle"><span>&nbsp;-&nbsp;</span>0 commentaire<img src="data:image/png;base64,iVBO" style="vertical-align: middle; width: 5vw; margin-left: 1vw;"></div>
              </div>
              <div>
                <div style="margin-bottom: 2vw; display: flex; flex-direction: column; justify-content: center; align-items: center;">
                  <div style="cursor: pointer; text-align: center; background-color: white; color: black; padding: 3vw; font-size: 6vw; border-radius: 3vw; width: 75vw; margin: 2vw 1vw;">Diaporama</div><input data-cy="addPhotoInput" type="file" required="" multiple="" style="display: none;">
                  <div data-cy="addPhotos" style="cursor: pointer; text-align: center; background-color: white; color: black; padding: 3vw; font-size: 6vw; border-radius: 3vw; width: 75vw; margin: 2vw 1vw;">Ajouter des photos</div>
                </div>
                <div style="display: flex; justify-content: center; align-items: center;"></div>
                <div style="display: flex; flex-direction: column; justify-content: center; align-items: center;">
                  <div style="background-color: rgba(255, 255, 255, 0.1vw; margin: 3vw 0px;"></div>
                  <div style="margin-bottom: 2.5vw;">
                    <div data-cy="contactCount" title="" style="margin-bottom: 2.5vw; cursor: pointer; display: flex; align-items: center;">Destinataires : 0 contact</div>
                    <div>
                      <div data-cy="addContacts" style="display: flex; margin-bottom: 2.5vw; align-items: center; cursor: pointer; background-color: rgba(255, 255, 255, 0);"><img title="Ajouter les contacts" data-cy="deleteAlbum" src="data:image/png;base64,iVBO" style="cursor: pointer; width: 7vw; height: 7vw; margin-right: 2.5vw;">
                        <div>Collègue (25 contacts)</div>
                      </div>
                      <div data-cy="addContacts" style="display: flex; margin-bottom: 2.5vw; align-items: center; cursor: pointer; background-color: rgba(255, 255, 255, 0);"><img title="Ajouter les contacts" data-cy="deleteAlbum" src="data:image/png;base64,iVBO" style="cursor: pointer; width: 7vw; height: 7vw; margin-right: 2.5vw;">
                        <div>Cousins (17 contacts)</div>
                      </div>
                      <div data-cy="addContacts" style="display: flex; margin-bottom: 2.5vw; align-items: center; cursor: pointer; background-color: rgba(255, 255, 255, 0);"><img title="Ajouter les contacts" data-cy="deleteAlbum" src="data:image/png;base64,iVBO" style="cursor: pointer; width: 7vw; height: 7vw; margin-right: 2.5vw;">
                        <div>Tennis Club (7 contacts)</div>
                      </div>
                    </div>
                  </div>
                  <div style="margin-bottom: 2.5vw; display: flex; flex-direction: column; justify-content: center; align-items: center;">
                    <div style="cursor: pointer; text-align: center; background-color: white; color: black; padding: 3vw; font-size: 6vw; border-radius: 3vw; width: 75vw; margin: 2vw 1vw;">Envoyer des emails</div>
                    <div style="cursor: pointer; text-align: center; background-color: white; color: black; padding: 3vw; font-size: 6vw; border-radius: 3vw; width: 75vw; margin: 2vw 1vw;">Annuler</div>
                  </div>
                </div>
              </div>
              <div style="background-color: rgba(255, 255, 255, 0.1vw; margin: 3vw 0px;"></div>
              <div style="width: 98vw;">
                <div style="font-style: italic; margin-bottom: 2vw; color: rgb(186, 186, 186); font-size: 5vw;">Il n'y a aucun commentaire pour l'instant</div><textarea data-cy="albumTextarea" placeholder="Commentez l'album ici.." style="width: 98vw; font-size: 5vw; height: 20vw; padding: 0.867);">Vacance avec toute la famille.</textarea>
                <div style="cursor: pointer; text-align: center; background-color: white; color: black; padding: 3vw; font-size: 6vw; border-radius: 3vw; width: 50vw; margin-bottom: 2.5vw;">Commenter</div>
              </div>
              <div style="background-color: rgba(255, 255, 255, 0.1vw; margin: 3vw 0px;"></div>
            </div>
          </div>
          <div style="display: flex; flex-direction: column;"></div>
        </div>
      </div>
    </div>
  </div>
</div>