<div id="root">
  <div data-cy="screen-Diaporama" style="flex: 1 1 0%; font-size: 5vw;">
    <div>
      <div style="display: flex; flex-direction: column;"><img src="static/media/beach.jpg" style="width: 100vw; height: 65vh; object-fit: contain; background-color: black;">
        <div style="display: flex; flex-direction: column; justify-content: center; align-items: stretch; width: 100vw; margin-bottom: 4vw;">
          <div style="display: flex; justify-content: space-between; align-items: center;"><img data-cy="prevPhoto" src="static/media/left.png" style="border-radius: 50%; cursor: pointer; height: 10vw; width: 10vw; padding: 1vw; margin: 0vw 3vw; object-fit: contain; background-color: rgba(170, 170, 170, 0.6; visibility: hidden;">
            <div style="flex-grow: 1; display: flex; justify-content: center;"><img src="data:image/png;base64,iVBO" style="border-radius: 50%; cursor: pointer; height: 10vw; width: 10vw; padding: 1vw; margin: 0vw 3vw; object-fit: contain; background-color: rgba(170, 170, 170, 0.6;"></div><img data-cy="nextPhoto" src="static/media/right.png" style="border-radius: 50%; cursor: pointer; height: 10vw; width: 10vw; padding: 1vw; margin: 0vw 3vw; object-fit: contain; background-color: rgba(170, 170, 170, 0.6; visibility: visible;">
          </div>
        </div>
        <div style="display: flex; flex-direction: column; align-items: center;">
          <div class="underlineHover" style="cursor: pointer;">Votre title d'album (1/10)</div>
          <div style="background-color: rgba(255, 255, 255, 0.1vw; margin: 3vw 0px;"></div>
          <div style="display: flex; align-self: flex-start; align-items: center; margin-bottom: 4vw;"><img data-cy="avatarImg" src="static/media/avatar4.jpg" style="width: 10vw; height: 10vw; border-radius: 50%; cursor: pointer;">
            <div style="display: flex; flex-direction: column; margin-left: 1.5vw;">
              <div>Erwan</div>
              <div style="color: rgb(186, 186, 186); font-size: 4vw;">il y a 54 minutes</div>
            </div>
          </div>
          <div style="width: 100%;">Noël en famille</div>
          <div style="background-color: rgba(255, 255, 255, 0.1vw; margin: 3vw 0px;"></div>
          <div style="display: flex; flex-direction: column;">
            <div style="font-style: italic; margin-bottom: 4vw; color: rgb(186, 186, 186); font-size: 4vw;">Il n'y a aucun autre commentaire pour l'instant</div>
            <div style="display: flex; flex-direction: column;"><textarea data-cy="photoTextarea" placeholder="Commentez la photo ici.." style="width: 98vw; font-size: 5vw; height: 20vw; padding: 0.867);">Vacance avec toute la famille.</textarea>
              <div style="cursor: pointer; text-align: center; background-color: white; color: black; padding: 3vw; font-size: 6vw; border-radius: 3vw; width: 50vw; margin-bottom: 2.5vw;">Commenter</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>