<div id="root">
  <div data-cy="screen-Diaporama" style="flex: 1 1 0%; font-size: 1.5vw;">
    <div>
      <div style="display: flex;">
        <div style="display: flex; flex-direction: column; justify-content: center; align-items: stretch; position: absolute; width: 80vw; height: 100vh;">
          <div style="display: flex; justify-content: space-between; align-items: center;"><img data-cy="prevPhoto" src="static/media/left.png" style="border-radius: 50%; cursor: pointer; height: 1.5vw; width: 1.5vw; padding: 1vw; margin: 0vw 3vw; object-fit: contain; background-color: rgba(170, 170, 170, 0.6; visibility: hidden;">
            <div style="flex-grow: 1; display: flex; justify-content: center;"></div><img data-cy="nextPhoto" src="static/media/right.png" style="border-radius: 50%; cursor: pointer; height: 1.5vw; width: 1.5vw; padding: 1vw; margin: 0vw 3vw; object-fit: contain; background-color: rgba(170, 170, 170, 0.6; visibility: visible;">
          </div>
        </div>
        <div style="position: absolute; display: flex; justify-content: flex-end; width: 80vw;"><img src="data:image/png;base64,iVBO" style="cursor: pointer; opacity: 0.5vw;"></div><img src="static/media/beach.jpg" style="height: 100vh; width: 80vw; object-fit: contain; background-color: black;">
        <div style="height: 100vh; width: 20vw; background-color: rgb(32, 32, 32); padding: 1.2vw 1vw 0vw; box-sizing: border-box; display: flex; flex-direction: column; align-items: center;">
          <div class="underlineHover" style="cursor: pointer;">Votre title d'album (1/10)</div>
          <div style="background-color: rgba(255, 255, 255, 0.62); width: 100%; height: 0.2vw 0px;"></div>
          <div style="display: flex; align-self: flex-start; align-items: center; margin-bottom: 1.2vw;"><img data-cy="avatarImg" src="static/media/avatar4.jpg" style="width: 3.5vw; border-radius: 50%; cursor: pointer;">
            <div style="display: flex; flex-direction: column; margin-left: 0.5vw;">
              <div>Erwan</div>
              <div style="color: rgb(186, 186, 186); font-size: 1.2vw;">il y a 54 minutes</div>
            </div>
          </div>
          <div style="width: 100%;">Noël en famille</div>
          <div style="background-color: rgba(255, 255, 255, 0.62); width: 100%; height: 0.2vw 0px;"></div>
          <div style="display: flex; flex-direction: column;">
            <div style="font-style: italic; margin-bottom: 1.2vw;">Il n'y a aucun autre commentaire pour l'instant</div>
            <div style="display: flex; flex-direction: column;"><textarea data-cy="photoTextarea" placeholder="Commentez la photo ici.." style="font-size: 1.3vw; height: 5vw; padding: 0.3vw; margin-bottom: 1.867);">Vacance avec toute la famille.</textarea>
              <div style="cursor: pointer; text-align: center; background-color: white; color: black; padding: 0.3vw; width: 10vw; margin-bottom: 1vw;">Commenter</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>