@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}


body {
  /*overflow-x: hidden;*/
  background-color: black;
  margin: 0 !important;
  padding: 0 !important;
  /*font-size: 1.5vw;*/
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: white;
  font-family: Arial, sans-serif;
}

img {
  user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0.46);
}

::-webkit-scrollbar {
  width: 8px;
  background-color: rgba(0, 0, 0, 0.49);
}

::-webkit-scrollbar-thumb {
  background-color: rgb(69, 69, 69);
}

img {
  user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  opacity: 0.4;
}

.underlineHover:hover {
  text-decoration: underline;
}
.lightHover:hover {
  background-color: #ffffff44;
}

