<div id="root">
  <div data-cy="screen-Contacts" style="flex: 1 1 0%; font-size: 1.5vw;">
    <div>
      <div>
        <div style="display: flex; width: 100vw; font-size: 2vw; justify-content: center; padding: 0.8vw 0vw;">
          <div style="color: rgb(186, 186, 186); font-size: 2.2vw; cursor: pointer;">Albums</div>
          <div style="padding: 0px 1vw;">-</div>
          <div style="color: white; font-size: 2.2vw; font-weight: bold;">Contacts</div>
          <div style="padding: 0px 1vw;">-</div>
          <div style="color: rgb(186, 186, 186); font-size: 2.2vw; cursor: pointer;">Profile</div>
          <div><img src="data:image/png;base64,iVBO" style="position: absolute; width: 5vw; left: 1vw; top: 1vw;"><img data-cy="avatarImg" src="data:image/jpeg;base64,/9j/" style="position: absolute; width: 5vw; right: 1vw; top: 1vw; cursor: pointer; border-radius: 50%;"></div>
        </div>
      </div>
      <div style="background-color: black; background-image: url(&quot;static/media/headerBg.png&quot;); background-repeat: no-repeat; background-position: 0px 6%; background-size: 100vw; background-attachment: fixed;">
        <div style="background-color: rgba(0, 0, 0, 0.8); max-width: 1000px; min-height: 80vh; margin: 0px auto; padding: 2vw;">
          <div>
            <div style="display: flex; justify-content: center; align-items: center; margin-bottom: 1vw;">
              <div style="margin-right: 1vw;">Contacts Liste :</div><select style="color: black; font-size: 1.5vw; height: 2vw; width: 24vw;">
                <option value="552" style="color: black;">Collègue</option>
                <option value="2146" style="color: black;">Cousins</option>
                <option value="2224" style="color: black;">École</option>
              </select>
            </div>
            <div style="margin-bottom: 1vw; display: flex; justify-content: center; align-items: center;">
              <div style="cursor: pointer; text-align: center; background-color: white; color: black; padding: 0.3vw; width: 14vw; margin: 0px 1vw;">Créer une liste</div>
              <div>
                <div style="cursor: pointer; text-align: center; background-color: white; color: black; padding: 0.3vw; width: 14vw; margin: 0px 1vw;">Importer CSV/VCF</div><input data-cy="importContacts" type="file" required="" style="display: none;">
              </div>
              <div style="cursor: pointer; text-align: center; background-color: white; color: black; padding: 0.3vw; width: 14vw; margin: 0px 1vw;">Supprimer la liste</div>
            </div>
          </div>
          <div style="display: flex; flex-direction: column; justify-content: center; align-items: center;"><textarea data-cy="contactsList" placeholder="Aucun contact dans cette liste.." style="cursor: pointer; width: 40vw; font-size: 1.3vw; height: 30vw; padding: 0.667); color: rgb(51, 51, 51);">Odile &lt;julie@familystory.page&gt;,
Erwan &lt;erwan@familystory.page&gt;,
Lea &lt;lea@familystory.page&gt;,
Erwan &lt;noha@familystory.page&gt;,
Lea &lt;noha@familystory.page&gt;,
Erwan &lt;gérard@familystory.page&gt;,
Lea &lt;gérard@familystory.page&gt;,
Erwan &lt;lea@familystory.page&gt;,
Noha &lt;noha@familystory.page&gt;,
Lea &lt;odile@familystory.page&gt;,
Julie &lt;lea@familystory.page&gt;,
Julie &lt;erwan@familystory.page&gt;,
Julie &lt;lea@familystory.page&gt;,
Erwan &lt;gérard@familystory.page&gt;,
Gérard &lt;julie@familystory.page&gt;,
Lea &lt;julie@familystory.page&gt;,
Lea &lt;gérard@familystory.page&gt;,
</textarea></div>
        </div>
      </div>
    </div>
  </div>
</div>