<div id="root">
  <div data-cy="screen-Contacts" style="flex: 1 1 0%; font-size: 5vw;">
    <div>
      <div style="height: 21vw;">
        <div style="display: flex; width: 100vw; font-size: 2vw; justify-content: space-evenly; position: fixed; background-color: black;">
          <div style="color: rgb(186, 186, 186); font-size: 8vw; padding: 5vw 0vw; cursor: pointer;">Albums</div>
          <div style="color: rgb(186, 186, 186); font-size: 8vw; padding: 5vw 0vw; cursor: pointer;">Profile</div>
        </div>
      </div>
      <div style="background-color: black; background-image: url(&quot;static/media/headerBg.png&quot;); background-repeat: no-repeat; background-position: 0px 6%; background-size: 100vw; background-attachment: fixed;">
        <div style="background-color: rgba(0, 0, 0, 0.8); max-width: 1000px; min-height: 80vh; margin: 0px auto; padding: 2vw;">
          <div>
            <div style="display: flex; flex-direction: column; justify-content: center; align-items: center; margin-bottom: 4vw;">
              <div style="font-size: 6vw; margin-bottom: 4vw;">Contacts Liste :</div><select style="color: black; font-size: 6vw; width: 80vw; padding: 3vw;">
                <option value="552" style="color: black;">Collègue</option>
                <option value="2146" style="color: black;">Cousins</option>
                <option value="2224" style="color: black;">École</option>
              </select>
            </div>
            <div style="margin-bottom: 4vw; display: flex; flex-direction: column; justify-content: center; align-items: center;">
              <div style="cursor: pointer; text-align: center; background-color: white; color: black; padding: 3vw; font-size: 6vw; border-radius: 3vw; width: 75vw; margin: 2vw 1vw;">Créer une liste</div>
              <div>
                <div style="cursor: pointer; text-align: center; background-color: white; color: black; padding: 3vw; font-size: 6vw; border-radius: 3vw; width: 75vw; margin: 2vw 1vw;">Importer CSV/VCF</div><input data-cy="importContacts" type="file" required="" style="display: none;">
              </div>
              <div style="cursor: pointer; text-align: center; background-color: white; color: black; padding: 3vw; font-size: 6vw; border-radius: 3vw; width: 75vw; margin: 2vw 1vw;">Supprimer la liste</div>
            </div>
          </div>
          <div style="display: flex; flex-direction: column; justify-content: center; align-items: center;"><textarea data-cy="contactsList" placeholder="Aucun contact dans cette liste.." style="cursor: pointer; width: 90vw; font-size: 5vw; height: 50vw; padding: 0.5vw; color: rgb(51, 51, 51);">Odile &lt;julie@familystory.page&gt;,
Erwan &lt;erwan@familystory.page&gt;,
Lea &lt;lea@familystory.page&gt;,
Erwan &lt;noha@familystory.page&gt;,
Lea &lt;noha@familystory.page&gt;,
Erwan &lt;gérard@familystory.page&gt;,
Lea &lt;gérard@familystory.page&gt;,
Erwan &lt;lea@familystory.page&gt;,
Noha &lt;noha@familystory.page&gt;,
Lea &lt;odile@familystory.page&gt;,
Julie &lt;lea@familystory.page&gt;,
Julie &lt;erwan@familystory.page&gt;,
Julie &lt;lea@familystory.page&gt;,
Erwan &lt;gérard@familystory.page&gt;,
Gérard &lt;julie@familystory.page&gt;,
Lea &lt;julie@familystory.page&gt;,
Lea &lt;gérard@familystory.page&gt;,
</textarea></div>
        </div>
      </div>
    </div>
  </div>
</div>