<div id="root">
  <div data-cy="screen-MyAlbums" style="flex: 1 1 0%; font-size: 1.5vw;">
    <div>
      <div>
        <div style="display: flex; width: 100vw; font-size: 2vw; justify-content: center; padding: 0.8vw 0vw;">
          <div style="color: white; font-size: 2.2vw; font-weight: bold;">Albums</div>
          <div style="padding: 0px 1vw;">-</div>
          <div style="color: rgb(186, 186, 186); font-size: 2.2vw; cursor: pointer;">Contacts</div>
          <div style="padding: 0px 1vw;">-</div>
          <div style="color: rgb(186, 186, 186); font-size: 2.2vw; cursor: pointer;">Profile</div>
          <div><img src="data:image/png;base64,iVBO" style="position: absolute; width: 5vw; left: 1vw; top: 1vw;"><img data-cy="avatarImg" src="data:image/jpeg;base64,/9j/" style="position: absolute; width: 5vw; right: 1vw; top: 1vw; cursor: pointer; border-radius: 50%;"></div>
        </div>
      </div>
      <div style="background-color: black; background-image: url(&quot;static/media/headerBg.png&quot;); background-repeat: no-repeat; background-position: 0px 6%; background-size: 100vw; background-attachment: fixed;">
        <div style="background-color: rgba(0, 0, 0, 0.8); max-width: 1000px; min-height: 80vh; margin: 0px auto; padding: 2vw;">
          <div style="display: flex; justify-content: center;">
            <div style="cursor: pointer; text-align: center; background-color: white; color: black; padding: 0.3vw; width: 20vw; margin-bottom: 1vw;">Créer un album</div>
          </div>
          <div style="background-color: rgba(255, 255, 255, 0.62); width: 100%; height: 0.2vw 0px;"></div>
          <div style="display: flex; cursor: pointer;"><img src="static/media/married.png" style="height: 7vw; width: 9.5vw; margin-right: 1vw; object-fit: contain; background-color: black;">
            <div style="display: flex; flex-direction: column; flex-grow: 1;">
              <div style="display: flex;">Vacances à la plage</div>
              <div style="display: flex; color: rgb(186, 186, 186); font-size: 1.2vw;">
                <div>Créé il y a 40 minutes</div>
                <div><span>&nbsp;-&nbsp;</span>3 photos</div>
                <div><span>&nbsp;-&nbsp;</span>0 commentaire</div>
                <div><span>&nbsp;-&nbsp;</span>15 vues</div>
              </div>
            </div>
            <div><img title="Supprimer l'album" data-cy="deleteAlbum" src="data:image/png;base64,iVBO" style="cursor: pointer; width: 2vw; height: 2vw;"></div>
          </div>
          <div style="background-color: rgba(255, 255, 255, 0.62); width: 100%; height: 0.2vw 0px;"></div>
          <div style="display: flex; cursor: pointer;"><img src="static/media/beach.jpg" style="height: 7vw; width: 9.5vw; margin-right: 1vw; object-fit: contain; background-color: black;">
            <div style="display: flex; flex-direction: column; flex-grow: 1;">
              <div style="display: flex;">Noël en famille</div>
              <div style="display: flex; color: rgb(186, 186, 186); font-size: 1.2vw;">
                <div>Créé il y a 7 minutes</div>
                <div><span>&nbsp;-&nbsp;</span>1 photo</div>
                <div><span>&nbsp;-&nbsp;</span>1 commentaire</div>
                <div><span>&nbsp;-&nbsp;</span>9 vues</div>
              </div>
            </div>
            <div><img title="Supprimer l'album" data-cy="deleteAlbum" src="data:image/png;base64,iVBO" style="cursor: pointer; width: 2vw; height: 2vw;"></div>
          </div>
          <div style="background-color: rgba(255, 255, 255, 0.62); width: 100%; height: 0.2vw 0px;"></div>
          <div style="display: flex; cursor: pointer;"><img src="static/media/picnic.jpg" style="height: 7vw; width: 9.5vw; margin-right: 1vw; object-fit: contain; background-color: black;">
            <div style="display: flex; flex-direction: column; flex-grow: 1;">
              <div style="display: flex;">Votre title d'album</div>
              <div style="display: flex; color: rgb(186, 186, 186); font-size: 1.2vw;">
                <div>Créé il y a 15 minutes</div>
                <div><span>&nbsp;-&nbsp;</span>3 photos</div>
                <div><span>&nbsp;-&nbsp;</span>2 commentaires</div>
                <div><span>&nbsp;-&nbsp;</span>6 vues</div>
              </div>
            </div>
            <div><img title="Supprimer l'album" data-cy="deleteAlbum" src="data:image/png;base64,iVBO" style="cursor: pointer; width: 2vw; height: 2vw;"></div>
          </div>
          <div style="background-color: rgba(255, 255, 255, 0.62); width: 100%; height: 0.2vw 0px;"></div>
          <div style="display: flex; cursor: pointer;"><img src="static/media/christmas.jpg" style="height: 7vw; width: 9.5vw; margin-right: 1vw; object-fit: contain; background-color: black;">
            <div style="display: flex; flex-direction: column; flex-grow: 1;">
              <div style="display: flex;">Vacances à la plage</div>
              <div style="display: flex; color: rgb(186, 186, 186); font-size: 1.2vw;">
                <div>Créé il y a 55 minutes</div>
                <div><span>&nbsp;-&nbsp;</span>4 photos</div>
                <div><span>&nbsp;-&nbsp;</span>1 commentaire</div>
                <div><span>&nbsp;-&nbsp;</span>9 vues</div>
              </div>
            </div>
            <div><img title="Supprimer l'album" data-cy="deleteAlbum" src="data:image/png;base64,iVBO" style="cursor: pointer; width: 2vw; height: 2vw;"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>