<div id="root">
  <div data-cy="screen-MyAlbums" style="flex: 1 1 0%; font-size: 5vw;">
    <div>
      <div style="height: 21vw;">
        <div style="display: flex; width: 100vw; font-size: 2vw; justify-content: space-evenly; position: fixed; background-color: black;">
          <div style="color: rgb(186, 186, 186); font-size: 8vw; padding: 5vw 0vw; cursor: pointer;">Connexion</div>
        </div>
      </div>
      <div style="background-color: black; background-image: url(&quot;static/media/headerBg.png&quot;); background-repeat: no-repeat; background-position: 0px 6%; background-size: 100vw; background-attachment: fixed;">
        <div style="background-color: rgba(0, 0, 0, 0.8); max-width: 1000px; min-height: 80vh; margin: 0px auto; padding: 2vw;">
          <div style="display: flex; justify-content: center;">
            <div style="cursor: pointer; text-align: center; background-color: white; color: black; padding: 3vw; font-size: 6vw; border-radius: 3vw; width: 50vw; margin-bottom: 2.5vw;">Créer un album</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>