<div id="root">
  <div data-cy="screen-MyAlbums" style="flex: 1 1 0%; font-size: 5vw;">
    <div>
      <div style="height: 21vw;">
        <div style="display: flex; width: 100vw; font-size: 2vw; justify-content: space-evenly; position: fixed; background-color: black;">
          <div style="color: rgb(186, 186, 186); font-size: 8vw; padding: 5vw 0vw; cursor: pointer;">Contacts</div>
          <div style="color: rgb(186, 186, 186); font-size: 8vw; padding: 5vw 0vw; cursor: pointer;">Profile</div>
        </div>
      </div>
      <div style="background-color: black; background-image: url(&quot;static/media/headerBg.png&quot;); background-repeat: no-repeat; background-position: 0px 6%; background-size: 100vw; background-attachment: fixed;">
        <div style="background-color: rgba(0, 0, 0, 0.8); max-width: 1000px; min-height: 80vh; margin: 0px auto; padding: 2vw;">
          <div style="display: flex; justify-content: center;">
            <div style="cursor: pointer; text-align: center; background-color: white; color: black; padding: 3vw; font-size: 6vw; border-radius: 3vw; width: 50vw; margin-bottom: 2.5vw;">Créer un album</div>
          </div>
          <div style="background-color: rgba(255, 255, 255, 0.1vw; margin: 3vw 0px;"></div>
          <div style="display: flex; cursor: pointer;"><img src="static/media/married.png" style="height: 28vw; width: 38vw; margin-right: 2vw; object-fit: contain; background-color: black;">
            <div style="display: flex; flex-direction: column; flex-grow: 1;">
              <div style="display: flex;">Vacances à la plage</div>
              <div style="display: flex; color: rgb(186, 186, 186); font-size: 4vw; flex-direction: column;">
                <div>Créé il y a 40 minutes</div>
                <div>3 photos</div>
                <div>0 commentaire</div>
                <div>15 vues</div>
              </div>
            </div>
            <div><img title="Supprimer l'album" data-cy="deleteAlbum" src="data:image/png;base64,iVBO" style="cursor: pointer; width: 7vw; height: 7vw;"></div>
          </div>
          <div style="background-color: rgba(255, 255, 255, 0.1vw; margin: 3vw 0px;"></div>
          <div style="display: flex; cursor: pointer;"><img src="static/media/beach.jpg" style="height: 28vw; width: 38vw; margin-right: 2vw; object-fit: contain; background-color: black;">
            <div style="display: flex; flex-direction: column; flex-grow: 1;">
              <div style="display: flex;">Noël en famille</div>
              <div style="display: flex; color: rgb(186, 186, 186); font-size: 4vw; flex-direction: column;">
                <div>Créé il y a 7 minutes</div>
                <div>1 photo</div>
                <div>1 commentaire</div>
                <div>9 vues</div>
              </div>
            </div>
            <div><img title="Supprimer l'album" data-cy="deleteAlbum" src="data:image/png;base64,iVBO" style="cursor: pointer; width: 7vw; height: 7vw;"></div>
          </div>
          <div style="background-color: rgba(255, 255, 255, 0.1vw; margin: 3vw 0px;"></div>
          <div style="display: flex; cursor: pointer;"><img src="static/media/picnic.jpg" style="height: 28vw; width: 38vw; margin-right: 2vw; object-fit: contain; background-color: black;">
            <div style="display: flex; flex-direction: column; flex-grow: 1;">
              <div style="display: flex;">Votre title d'album</div>
              <div style="display: flex; color: rgb(186, 186, 186); font-size: 4vw; flex-direction: column;">
                <div>Créé il y a 15 minutes</div>
                <div>3 photos</div>
                <div>2 commentaires</div>
                <div>6 vues</div>
              </div>
            </div>
            <div><img title="Supprimer l'album" data-cy="deleteAlbum" src="data:image/png;base64,iVBO" style="cursor: pointer; width: 7vw; height: 7vw;"></div>
          </div>
          <div style="background-color: rgba(255, 255, 255, 0.1vw; margin: 3vw 0px;"></div>
          <div style="display: flex; cursor: pointer;"><img src="static/media/christmas.jpg" style="height: 28vw; width: 38vw; margin-right: 2vw; object-fit: contain; background-color: black;">
            <div style="display: flex; flex-direction: column; flex-grow: 1;">
              <div style="display: flex;">Vacances à la plage</div>
              <div style="display: flex; color: rgb(186, 186, 186); font-size: 4vw; flex-direction: column;">
                <div>Créé il y a 55 minutes</div>
                <div>4 photos</div>
                <div>1 commentaire</div>
                <div>9 vues</div>
              </div>
            </div>
            <div><img title="Supprimer l'album" data-cy="deleteAlbum" src="data:image/png;base64,iVBO" style="cursor: pointer; width: 7vw; height: 7vw;"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>